<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id ="app"> 
        <p v-for='(item,i) in array'>{{i}}----->{{item}}</p>
        <h4 v-for='(item,i) in list '>{{i}}:{{item.id}}->{{item.name}}->{{item.age}}</h4>
    </div>
</body>
<script>
     let vm = new Vue({
        el: '#app',
        data: {
            array: ['a','b','c','d','e','f'],
            list: [
                {id:1,name:'wkq',age:21,country:'china'},
                {id:2,name:'wxx',age:22,country:'china'},
                {id:3,name:'kj',age:23,country:'china'},
                {id:4,name:'wuz',age:24,country:'china'}
            ]
        },
        methods: {}
     });
</script>
</html>