<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id ="app">
        <input type="text" v-model="pre"> <select v-model="sign" name="" id="" style="width: 35px;">
            <option value="+">+</option>           
            <option value="-">-</option>           
            <option value="*">*</option>           
            <option value="/">/</option>           
        </select> <input type="text" v-model="next"> <input type="button" @click="calc" style="width: 35px;background-color: coral;" value="="> <input type="text" v-model:value="result" readonly="readonly" >
    </div> 
</body>
<script>
     let vm = new Vue({
        el: '#app',
        data: {
            result:0,
            pre:0,
            next:0,
            sign:"+"
        },
        methods: {
            calc(){
                this.result = eval("parseInt(this.pre)"+this.sign+"parseInt(this.next)");
            }
        }
     });
</script>
      